<h1>Add A New Actor</h1>

<form action="/create_actor">
  <div>
    <label for="actor_name">Name:</label>
    <input id="actor_name" type="text" name="name">
  </div>
  <div>
    <label for="actor_image_url">Image URL:</label>
    <input id="actor_image_url" type="text" name="image_url">
  </div>
  <div>
    <label for="actor_dob">Date of Birth(Month DD, YYYY):</label>
    <input id="actor_dob" type="text" name="dob">
  </div>
  <div>
    <label for="actor_bio">Bio:</label>
    <input id="actor_bio" type="text" name="bio">
  </div>
  <div>
    <button>Create Actor Entry</button>
  </div>
</form>

<a href="/directors">Back to Actors</a>
